<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline"></div>
  Travel Planner   </div>
  <div class ="holder ">
    <label for="city">Destination </label>
    <input type="text" id="city" placeholder="Enter a city"required>
  </div>
  <br />
  <div class ="holder">
    <label for="departing">Departing date</label>
    <input type="date" id="departing" placeholder="Departing date" required>
    <br />
  </div>
  <div class="holder">
    <label for="returning">Returning date</label>
    <input type="date" id="returning" placeholder="Returning date" required>
  </div>
  <br />
  <div class="holder">
    <button id="generate" type="submit">Check</button>
  </div>

<!-----end of the form -->

<!-----start the result for the trip -->
<div class="results">
  <h1  id="departure"></h1>
  <p id="country"></p>
  <p id= "today"></p>
  <p id="daysLeft"></p>
  <p id="duration"></p>
  <p id="weather"></p>
  <p id="max_temp"></p>
  <p id="min_temp"></p> 
 </div>
  <div>
  <img class="responsive" src=" " alt="" id="pixa">
  </div>
  <!-----end result for the trip -------->
<footer >
  <p>&copy Udacity   </p>
  <p>Eman Abo Alsoud July 2020</p>  
</footer>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  }
</script>
</body>
</html>  
